body {
    background-color:teal;
    text-align: center;
    
}

#dealer-cards img {
    height: 200px;
    width: 150px;
    margin: 1px;
    
}

#player-cards img {
    height: 200px;
    width: 150px;
    margin: 1px;
    
}

